.input,.TextAreaInput,#inputSubmit {
	width: 100%;
	background-color: #99FF33;
	border: none;
}

.bbBotton {
	background-color: #99FF33;
	border: none;
}

.TextAreaInput {
	margin-top: 0px;
	height: 200px;
}