@import url("main.css");

#Main {
	top: 25px;
	right: 235px;
	left: 5px;
	bottom: 5px;
}

#Right {
	position: absolute;
	top: 25px;
	right: 5px;
	bottom: 5px;
	width: 225px;
	background-color: #99FF33;
	border: 1px solid black;
}

.MiniBoks {
	background-color: #F6ECD1;
	margin: 5px;
	border-radius: 10px;
}

.MiniTitle {
	margin: 5px;
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid black;
}

.MiniNewLine {
	clear: both;
}

.MiniRight {
	float: right;
}

.input {
	width: 90px;
	margin-right: 5px;
	border: 1px solid black;
}

.MiniSubmit {
	width: 95%;
	background-color: #99FF33;
	border: 1px solid black;
	margin-bottom: 5px;
	margin-left: 5px;
}