body {
	background-color: #F6ECD1;
	margin: 0;
	padding: 0;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	background-color: #99FF33;
	font-size: 12px;
	border: 1px solid black;
}

#Main {
	background-color: #99FF33;
	position: absolute;
	border: 1px solid black;
	top: 25px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	overflow: auto;
}

a {
	color: black;
}

.Boks {
	margin: 5px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #F6ECD1;
}

.TopicLeft {
	text-align: right;
	border-left: 1px solid black;
	width: 100px;
	height: 100%;
	float: right;
}

.TopicGrup,.LinkPost,.TopicPost,.TopicBottom {
	font-size: 10px;
}

.TopicBottom {
	border-top: 1px solid black;
	clear: both;
}