body {
	background-color: #F6ECD1;
	margin: 0;
	padding: 0;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	background-color: #99FF33;
	font-size: 12px;
	border: 1px solid black;
}

#Main {
	background-color: #99FF33;
	position: absolute;
	border: 1px solid black;
	top: 25px;
	bottom: 5px;
	left: 5px;
	right: 5px;
}

a {
	color: black;
}

.Boks,#error,#Okay,#warning {
	margin: 400px;
	margin-top: 50px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #F6ECD1;
}

#Okay {
	margin: 5px;
	background-color: #99FF33;
	text-align: center;
	font-size: 25px;
}

#error {
	margin: 5px;
	background-color: red;
	text-align: center;
	font-size: 25px;
}

#warning {
	margin: 5px;
	background-color: #FFFF00;
	text-align: center;
	font-size: 25px;
}

.MiniItems {
	float: left;
	width: 25%;
}

.input {
	width: 99%;
	border: none;
	border-radius: 10px;
}